<!DOCTYPE html>
<html>
  <head>
    <title>MyPortfolio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link href="http://fonts.cdnfonts.com/css/calibre" rel="stylesheet">
    <link href="http://fonts.cdnfonts.com/css/sf-mono" rel="stylesheet">
    <%= javascript_importmap_tags %>
  </head>

  <body>
      <%= yield %>
  </body>
</html>
